In [4]:
import numpy as np
import pandas as pd

In [8]:
global_dataset = pd.read_csv('../data/processed/dataset.csv')
global_dataset.shape

(2111, 17)

In [9]:
global_dataset.head()

,Is_Male,Age,Height,Weight,Familial_Overweight_History,High_Caloric_Food,Vegetables_In_Meals,Daily_Main_Meals,Eat_Between_Meals,Smoking,Water_Consumption,Calories_Monitoring,Physical_Activity,Screen_Time,Alcohol_Consumption,Transportation,Obesity_Level
0,False,21.0,1.62,64.0,True,False,2.0,3.0,Sometimes,False,2.0,False,0.0,1.0,No,Public_Transportation,Normal_Weight
1,False,21.0,1.52,56.0,True,False,3.0,3.0,Sometimes,True,3.0,True,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,True,23.0,1.80,77.0,True,False,2.0,3.0,Sometimes,False,2.0,False,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,True,27.0,1.80,87.0,False,False,3.0,3.0,Sometimes,False,2.0,False,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,True,22.0,1.78,89.8,False,False,2.0,1.0,Sometimes,False,2.0,False,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [10]:
# Shuffle the dataset
shuffled_dataset = global_dataset.sample(frac=1, random_state=54847).reset_index(drop=True)

In [11]:
# Assuming shuffled_dataset is already defined
hospital_datasets_list = [shuffled_dataset.iloc[i*400:(i+1)*400] for i in range(5)]
testing_dataset = shuffled_dataset.iloc[2000:]  # The last 111 rows
testing_datasets_list = [testing_dataset.iloc[i*20:(i+1)*20] for i in range(5)]
# Reset index for each DataFrame (optional)
hospital_datasets_list = [df.reset_index(drop=True) for df in hospital_datasets_list]
testing_datasets_list = [df.reset_index(drop=True) for df in testing_datasets_list]

In [12]:
# Save the 5 hospital datasets
for i, df in enumerate(hospital_datasets_list):
    df.to_csv(f'../data/split/train/hospital_{i+1}.csv', index=False)
    
for i, df in enumerate(testing_datasets_list):
    df.to_csv(f'../data/split/test/hospital_{i+1}.csv', index=False)

print("Datasets saved successfully!")

Datasets saved successfully!